[Unit]
Description=ElCheapoAIS downsampler service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/bin/elcheapoais-downsampler.sh
KillMode=process
Type=forking

[Install]
WantedBy=multi-user.target
