[Unit]
Description=ElCheapoAIS Service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/bin/elcheapoais.sh
KillMode=process
Type=forking

[Install]
WantedBy=multi-user.target
