[Unit]
Description=ElCheapoAIS udp to tcp service
After=multi-user.target

[Service]
Type=idle
ExecStart=/bin/bash /usr/local/bin/elcheapoais-udptotcp.sh
KillMode=process
Type=forking

[Install]
WantedBy=multi-user.target
